$bg-primary-dark: #3f3f3f;

$border-dark-opace: rgba(0, 0, 0, 0.25);
$border-dark: rgba(0, 0, 0, 0.65);
$border-light-opace: rgba(255, 253, 253, 0.35);
$border-light: rgba(255, 253, 253, 0.75);

$text-color: white;
$text-dark-color: #575757;
$text-black-color: #2c2922;
