@use '../../abstracts/variables' as *;

.item {
     margin: 1rem 0;
     padding: 1rem;

     display: flex;
     justify-content: space-between;
     align-items: flex-end;

     border-radius: 5px;
     box-shadow: 0 2px 4px $border-dark-opace;

     background-color: $bg-light;

     figure {
          margin: 0;
          padding: 0;
          width: 70%;

          text-align: left;

          blockquote {
               margin: 0;

               font-size: 1.5rem;

               p {
                    margin: 0;
                    margin-bottom: 0.25rem;

                    color: white;
               }
          }

          figcaption {
               font-style: italic;
               color: $text-blue-color;
          }
     }
}
