@use '../abstracts/variables' as *;

.header {
     height: 5rem;

     background-color: $bg-primary-blue;
     nav {
          height: 100%;

          ul {
               height: 100%;
               margin: 0;

               display: flex;
               justify-content: center;
               align-items: center;
               gap: 2rem;

               list-style: none;

               li {
                    a {
                         color: $text-color;
                         text-decoration: none;

                         &:hover,
                         &:active,
                         &.active {
                              padding-bottom: 0.25rem;

                              border-bottom: 4px solid $text-blue-color-hover;

                              color: $text-blue-color-hover;
                         }
                    }
               }
          }
     }
}
