@use '../../abstracts/variables' as *;

.form {
     margin-top: 1rem;

     .actions {
          text-align: right;

          button {
               margin-right: 1rem;
               font-size: 1.25rem;
          }
     }
}
