@use './abstracts/variables' as *;

* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;

  body {
    margin: 0;

    background-color: $bg-primary-dark;
    color: $text-color;

    main {
      margin-top: 7rem;

      h1,
      h2,
      h3,
      p,
      a {
        color: $text-blue-color;
      }

      .centered {
        text-align: center;
        font-size: 2rem;
      }

      .btn {
        padding: 0.75rem 1.5rem;

        border: 1px solid $bg-primary-dark-green;
        border-radius: 4px;

        text-decoration: none;

        background-color: $bg-primary-dark-green;
        color: $text-color;
        cursor: pointer;

        &:hover,
        &:active {
          background-color: $bg-primary-dark-green-hover;
          border-color: $bg-primary-dark-green-hover;
        }
      }
    }
  }
}
