@use './abstracts/variables' as *;

* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;

  body {
    margin: 0;

    background-color: $bg-primary-dark;
    color: $text-color;

    main {
      margin-top: 7rem;

      text-align: center;

      h1,
      h2,
      h3,
      p,
      a {
        color: $text-blue-color;
      }
    }
  }
}
