@use './abstracts/variables' as *;

* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;

  body {
    margin: 0;

    background-color: $bg-primary-dark;
    color: $text-color;

    main {
      margin-top: 7rem;

      h1,
      h2,
      h3,
      p,
      a {
        color: $text-blue-color;
      }

      .centered {
        text-align: center;

        .btn--flat {
          padding: 0.75rem 1.5rem;

          display: inline;

          border-radius: 4px;

          text-decoration: none;

          color: $text-blue-color;
          cursor: pointer;

          &:hover,
          &:active {
            color: $text-color;
            background-color: $bg-primary-dark-green;
          }
        }
      }

      .focused {
        font-size: 3rem;
        font-weight: bold;
      }

      .btn {
        padding: 0.75rem 1.5rem;

        border: 1px solid $bg-primary-dark-green;
        border-radius: 4px;

        text-decoration: none;

        background-color: $bg-primary-dark-green;
        color: $text-color;
        cursor: pointer;

        &:hover,
        &:active {
          background-color: $bg-primary-dark-green-hover;
          border-color: $bg-primary-dark-green-hover;
        }

        &:disabled {
          border-color: $border-light-opace;
          background-color: $border-light-opace;
          color: $border-dark;
          cursor: not-allowed;
        }
      }
    }
  }
}
